<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="logPath" value="C:\WMTemp"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
    
<connectionStrings><add name="WareMasterEntities" connectionString="metadata=res://*/WareMasterDbContext.csdl|res://*/WareMasterDbContext.ssdl|res://*/WareMasterDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fsd08appdev1project.database.windows.net;initial catalog=WareMaster;persist security info=True;user id=dbadmin;password=c9Z5vp3VCPc4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>